* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 94%);
  font-family: "Poppins", sans-serif;
}

.container {
  border-radius: 10px;
  border-bottom-right-radius: 30%;
  background-color: hsl(0, 0%, 100%);

  height: 64%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
  padding-left: 2rem;
}
.containerItem {
  width: 100%;
}
#date_form {
  display: flex;
  align-items: center;
  height: 35%;
  color: hsl(0, 1%, 44%);
  font-weight: 800;
}
.date_inputs {
  flex: 5;
  display: flex;
  align-items: center;
  justify-content: left;
  border-bottom: 1px solid hsl(0, 0%, 86%);

  gap: 2rem;
  height: 70%;
  margin-bottom: 1.7rem;
  height: 80%;
}

.date_block {
  display: flex;
  width: 20%;
  flex-direction: column;
  gap: 0.5rem;
}
.errorStyle {
  color: hsl(0, 100%, 67%);
  border: 1px solid hsl(0, 100%, 67%);
}
.date_block p {
  font-size: 8px;
  position: absolute;
  margin-top: 4%;
  color: hsl(0, 100%, 67%);
}
label {
  font-size: 0.5rem;
}
input {
  width: 100%;
  height: 2rem;
  font-size: 1rem;
  padding-left: 1rem;
  text-align: left;
  border-radius: 5px;
  border: 1px solid hsl(0, 0%, 86%);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}
.submitDiv {
  flex: 1;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: flex-end;
}
.submit_btn {
  border-radius: 50%;
  background-color: hsl(259, 100%, 65%);
  border: none;
  width: 60px;
  height: 60px;
}
img {
  height: 50%;
  width: 50%;
}
.resultados {
  flex: 2;
  display: flex;
  flex-direction: column;
  font-size: 2.2rem;
  justify-content: center;
  font-weight: 800;
  font-style: italic;
}
span {
  color: hsl(259, 100%, 65%);
}

@media screen and (max-width: 600px) {
  body {
    display: flex;
    padding-top: 0;
  }
  .container {
    height: 80;
    width: 90%;

    padding: 2rem;
  }

  #date_form {
    flex-direction: column;
    gap: 1rem;
  }
  .date_inputs {
    justify-content: center;

    margin: 0;

    flex: 15;
  }
  .date_block {
    width: 25%;
    margin-bottom: 4rem;
  }
  label {
    font-size: 1rem;
  }
  input {
    padding-left: 0;
    text-align: center;
  }
  .submitDiv {
    align-items: center;
    padding-top: 5%;
  }
  .submitDiv div {
    position: absolute;
  }
  .resultados {
    justify-content: center;
  }
  h1 {
    font-size: 3.2rem;
  }
  span {
    letter-spacing: 0.5rem;
    font-size: 4rem;
  }
  .date_block p {
    margin-top: 20%;
  }
}
